acl
adduser
apache2
apache2-bin
apache2-data
apache2-doc
apache2-suexec-custom
apache2-utils
apt
apt-listchanges
apt-show-versions
apt-transport-https
apt-utils
aptitude
aptitude-common
aria2
aspell
aspell-en
augeas-lenses
authbind
autoconf
autoconf-archive
automake
autopoint
autotools-dev
base-files
base-passwd
bash
bash-completion
bind9
bind9-dnsutils
bind9-host
bind9-utils
bind9utils
binutils
bsdextrautils
bsdmainutils
bsdutils
build-essential
busybox
byobu
bzip2
ca-certificates
ca-certificates-java
caca-utils
cachefilesd
certbot
clamav
clamav-base
clamav-daemon
clamav-docs
clamav-freshclam
clamav-testfiles
clamdscan
cmake
cmake-data
console-setup
console-setup-linux
coreutils
cpp
cpp-10
cpp-6
cron
csync2
curl
dash
db-util
db5.3-util
dbconfig-common
dbconfig-mysql
dbus
dbus-user-session
dconf-gsettings-backend:amd64
dconf-service
debconf
debconf-i18n
debhelper
debian-archive-keyring
debian-faq
debianutils
debsuryorg-archive-keyring
default-mysql-client
default-mysql-server
dh-autoreconf
dh-make
dh-php
dh-strip-nondeterminism
dictionaries-common
diffutils
dirmngr
discover
discover-data
distro-info-data
dns-root-data
dnsutils
doc-debian
docbook-xml
docker-ce
docker.io
dovecot-core
dovecot-imapd
dovecot-ldap
dovecot-pop3d
dpkg
dpkg-dev
dwz
e2fslibs:amd64
e2fsprogs
e2fsprogs-l10n
ebtables
eject
enchant-2
fail2ban
fakeroot
file
filebeat
findutils
firewalld
firmware-linux-free
fontconfig
fontconfig-config
fonts-dejavu-core
fonts-droid-fallback
fonts-lato
fonts-noto-mono
fonts-urw-base35
freetds-common
g++
g++-10
g++-6
galera-4
gawk
gcc
gcc-10
gcc-10-base:amd64
gcc-6
gcc-6-base:amd64
gcc-7-base:amd64
gcc-8-base:amd64
gcc-9-base:amd64
gdal-data
geoip-database
gettext
gettext-base
ghostscript
gir1.2-atk-1.0:amd64
gir1.2-freedesktop:amd64
gir1.2-gdkpixbuf-2.0:amd64
gir1.2-glib-2.0:amd64
gir1.2-gtk-3.0:amd64
gir1.2-harfbuzz-0.0:amd64
gir1.2-nm-1.0:amd64
gir1.2-packagekitglib-1.0
gir1.2-pango-1.0:amd64
git
git-man
glib-networking:amd64
glib-networking-common
glib-networking-services
gnupg
gnupg-agent
gnupg-l10n
gnupg-utils
gnupg1
gnupg1-curl
gnupg1-l10n
golang-1.11
golang-1.11-doc
golang-1.11-go
golang-1.11-src
gparted
gparted-common
gpg
gpg-agent
gpg-wks-client
gpg-wks-server
gpgconf
gpgsm
gpgv
gpgv1
grep
groff-base
grub2-common
gsasl-common
gsfonts
guile-2.2-libs:amd64
gzip
hostname
htop
hunspell-sw
iamerican
ibritish
ienglish-common
imagemagick-6-common
imapcopy
init
init-system-helpers
inotify-tools
installation-report
intltool-debian
ipset
iptables
iputils-ping
isc-dhcp-client
isc-dhcp-common
iso-codes
ispell
jailkit
java-common
javascript-common
ldap-utils
ldapscripts
less
libacl1:amd64
libaec0:amd64
libaio1:amd64
libalgorithm-c3-perl
libalgorithm-diff-perl
libalgorithm-diff-xs-perl
libalgorithm-merge-perl
libaom0:amd64
libapache2-mod-auth-plain
libapache2-mod-authn-yolo
libapache2-mod-bw
libapache2-mod-fcgid
libapache2-mod-geoip
libapache2-mod-mapcache
libapache2-mod-php5.6
libapache2-mod-php7.0
libapache2-mod-php7.1
libapache2-mod-php7.2
libapache2-mod-python
libapache2-mod-removeip
libapache2-mod-rpaf
libapache2-mod-upload-progress
libapache2-mod-uwsgi
libapache2-mod-webauth
libapache2-mod-xsendfile
libappstream4:amd64
libapr1:amd64
libaprutil1:amd64
libaprutil1-dbd-sqlite3:amd64
libaprutil1-ldap:amd64
libapt-inst2.0:amd64
libapt-pkg5.0:amd64
libapt-pkg6.0:amd64
libarchive-cpio-perl
libarchive-zip-perl
libarchive13:amd64
libargon2-1:amd64
libaria2-0:amd64
libarmadillo10
libarpack2:amd64
libasan3:amd64
libasan6:amd64
libaspell15:amd64
libassuan0:amd64
libatk-bridge2.0-0:amd64
libatk1.0-0:amd64
libatk1.0-data
libatkmm-1.6-1v5:amd64
libatomic1:amd64
libatspi2.0-0:amd64
libattr1:amd64
libaudit-common
libaudit1:amd64
libaugeas0:amd64
libauthen-oath-perl
libauthen-pam-perl
libauthen-sasl-perl
libavahi-client3:amd64
libavahi-common-data:amd64
libavahi-common3:amd64
libavif9:amd64
libb-hooks-endofscope-perl
libb-hooks-op-check-perl
libberkeleydb-perl:amd64
libbind9-140:amd64
libbinutils:amd64
libblas-common
libblas3:amd64
libblkid1:amd64
libboost-filesystem1.62.0:amd64
libboost-iostreams1.62.0:amd64
libboost-iostreams1.74.0:amd64
libboost-system1.62.0:amd64
libbpf0:amd64
libbrotli1:amd64
libbsd0:amd64
libbytes-random-secure-perl
libbz2-1.0:amd64
libc-ares2:amd64
libc-bin
libc-client2007e
libc-dev-bin
libc-devtools
libc-l10n
libc6:amd64
libc6-dev:amd64
libcaca0:amd64
libcairo-gobject-perl
libcairo-gobject2:amd64
libcairo-perl:amd64
libcairo2:amd64
libcairomm-1.0-1v5:amd64
libcap-ng0:amd64
libcap2:amd64
libcap2-bin
libcbor0:amd64
libcc1-0:amd64
libcfitsio9:amd64
libcgi-fast-perl
libcgi-pm-perl
libcharls2:amd64
libcilkrts5:amd64
libclamav9:amd64
libclass-c3-perl
libclass-c3-xs-perl
libclass-data-inheritable-perl
libclass-inspector-perl
libclass-isa-perl
libclass-method-modifiers-perl
libclass-singleton-perl
libclass-xsaccessor-perl
libclone-perl
libcolord2:amd64
libcom-err2:amd64
libcomerr2:amd64
libcommon-sense-perl
libconfig-inifiles-perl
libconvert-asn1-perl
libcrypt-dev:amd64
libcrypt-openssl-bignum-perl
libcrypt-openssl-random-perl
libcrypt-openssl-rsa-perl
libcrypt-random-seed-perl
libcrypt-ssleay-perl
libcrypt1:amd64
libcryptsetup12:amd64
libcryptsetup4:amd64
libctf-nobfd0:amd64
libctf0:amd64
libcups2:amd64
libcurl3-gnutls:amd64
libcurl4:amd64
libcwidget4:amd64
libdap27:amd64
libdapclient6v5:amd64
libdata-dump-perl
libdata-optlist-perl
libdatetime-locale-perl
libdatetime-perl:amd64
libdatetime-timezone-perl
libdatrie1:amd64
libdav1d4:amd64
libdb5.3:amd64
libdbd-mysql-perl:amd64
libdbd-pg-perl
libdbi-perl:amd64
libdbi1:amd64
libdbus-1-3:amd64
libdconf1:amd64
libde265-0:amd64
libdebconfclient0:amd64
libdebhelper-perl
libdeflate0:amd64
libdevel-callchecker-perl
libdevel-caller-perl
libdevel-globaldestruction-perl
libdevel-lexalias-perl
libdevel-stacktrace-perl
libdevmapper-event1.02.1:amd64
libdevmapper1.02.1:amd64
libdigest-bubblebabble-perl
libdigest-hmac-perl
libdiscover2
libdist-checkconflicts-perl
libdns-export1110
libdns-export162
libdns162:amd64
libdpkg-perl
libdrm-amdgpu1:amd64
libdrm-common
libdrm-intel1:amd64
libdrm-nouveau2:amd64
libdrm-radeon1:amd64
libdrm2:amd64
libdw1:amd64
libdynaloader-functions-perl
libedit2:amd64
libefiboot1:amd64
libefivar1:amd64
libegl-mesa0:amd64
libegl1:amd64
libegl1-mesa:amd64
libelf1:amd64
libemail-date-format-perl
libenchant-2-2:amd64
libencode-detect-perl
libencode-locale-perl
libepoxy0:amd64
libepsilon1:amd64
libept1.6.0:amd64
liberror-perl
libestr0:amd64
libeval-closure-perl
libevdev2:amd64
libevent-2.0-5:amd64
libevent-2.1-7:amd64
libevent-core-2.1-7:amd64
libevent-pthreads-2.1-7:amd64
libexception-class-perl
libexpat1:amd64
libexpat1-dev:amd64
libexporter-tiny-perl
libext2fs2:amd64
libexttextcat-2.0-0:amd64
libexttextcat-data
libextutils-depends-perl
libextutils-pkgconfig-perl
libfakeroot:amd64
libfastjson4:amd64
libfbclient2:amd64
libfcgi-bin
libfcgi-dev:amd64
libfcgi-perl:amd64
libfcgi0ldbl:amd64
libfdisk1:amd64
libffi-dev:amd64
libffi6:amd64
libffi7:amd64
libfftw3-double3:amd64
libfido2-1:amd64
libfile-basedir-perl
libfile-copy-recursive-perl
libfile-desktopentry-perl
libfile-fcntllock-perl
libfile-listing-perl
libfile-mimeinfo-perl
libfile-sharedir-perl
libfile-stripnondeterminism-perl
libfont-afm-perl
libfontconfig1:amd64
libfontenc1:amd64
libfreetype6:amd64
libfreexl1:amd64
libfribidi0:amd64
libfstrm0:amd64
libfuse2:amd64
libfuse3-3:amd64
libfyba0:amd64
libgail-common:amd64
libgail18:amd64
libgav1-0:amd64
libgbm1:amd64
libgc1:amd64
libgcc-10-dev:amd64
libgcc-6-dev:amd64
libgcc-s1:amd64
libgcc1:amd64
libgcrypt20:amd64
libgd3:amd64
libgdal28
libgdbm-compat4:amd64
libgdbm3:amd64
libgdbm6:amd64
libgdk-pixbuf-2.0-0:amd64
libgdk-pixbuf-xlib-2.0-0:amd64
libgdk-pixbuf2.0-0:amd64
libgdk-pixbuf2.0-bin
libgdk-pixbuf2.0-common
libgearman8:amd64
libgeoip1:amd64
libgeos-3.9.0:amd64
libgeos-c1v5:amd64
libgeotiff5:amd64
libgfortran3:amd64
libgfortran5:amd64
libgif7:amd64
libgirepository-1.0-1:amd64
libgl1:amd64
libgl1-mesa-dri:amd64
libglapi-mesa:amd64
libglib-object-introspection-perl
libglib-perl:amd64
libglib2.0-0:amd64
libglib2.0-bin
libglib2.0-data
libglibmm-2.4-1v5:amd64
libglu1-mesa:amd64
libglvnd0:amd64
libglx-mesa0:amd64
libglx0:amd64
libgmp10:amd64
libgnutls30:amd64
libgomp1:amd64
libgpg-error-l10n
libgpg-error0:amd64
libgpgme11:amd64
libgpm2:amd64
libgraphite2-3:amd64
libgs9:amd64
libgs9-common
libgsasl7:amd64
libgssapi-krb5-2:amd64
libgssapi-perl
libgstreamer1.0-0:amd64
libgtk-3-0:amd64
libgtk-3-bin
libgtk-3-common
libgtk2.0-0:amd64
libgtk2.0-bin
libgtk2.0-common
libgtk3-perl
libgtkmm-3.0-1v5:amd64
libgudev-1.0-0:amd64
libharfbuzz0b:amd64
libhashkit-dev:amd64
libhashkit2:amd64
libhdf4-0-alt
libhdf5-103-1:amd64
libhdf5-hl-100:amd64
libheif1:amd64
libhiredis0.14:amd64
libhogweed4:amd64
libhogweed6:amd64
libhtml-form-perl
libhtml-format-perl
libhtml-parser-perl
libhtml-tagset-perl
libhtml-template-perl
libhtml-tree-perl
libhttp-cookies-perl
libhttp-daemon-perl
libhttp-date-perl
libhttp-message-perl
libhttp-negotiate-perl
libhunspell-1.7-0:amd64
libice6:amd64
libicu57:amd64
libicu63:amd64
libicu67:amd64
libid3tag0:amd64
libidn11:amd64
libidn2-0:amd64
libijs-0.35:amd64
libimagequant0:amd64
libimlib2:amd64
libimport-into-perl
libinotifytools0:amd64
libinput-bin
libinput10:amd64
libintl-perl
libintl-xs-perl
libio-html-perl
libio-multiplex-perl
libio-pty-perl
libio-socket-inet6-perl
libio-socket-ssl-perl
libio-stringy-perl
libip4tc0:amd64
libip4tc2:amd64
libip6tc0:amd64
libip6tc2:amd64
libipc-shareable-perl
libipc-system-simple-perl
libipset11:amd64
libipset13:amd64
libipset3:amd64
libiptc0:amd64
libirs141:amd64
libisc-export1105:amd64
libisc-export160
libisc160:amd64
libisccc140:amd64
libisccfg140:amd64
libisl15:amd64
libisl23:amd64
libitm1:amd64
libjansson4:amd64
libjbig0:amd64
libjbig2dec0:amd64
libjemalloc1
libjemalloc2:amd64
libjpeg62-turbo:amd64
libjs-highlight.js
libjs-jquery
libjs-sphinxdoc
libjs-underscore
libjson-c5:amd64
libjson-glib-1.0-0:amd64
libjson-glib-1.0-common
libjson-perl
libjson-xs-perl
libjsoncpp1:amd64
libk5crypto3:amd64
libkeyutils1:amd64
libklibc:amd64
libkmlbase1:amd64
libkmldom1:amd64
libkmlengine1:amd64
libkmod2:amd64
libkrb5-3:amd64
libkrb5support0:amd64
libksba8:amd64
liblapack3:amd64
liblcms2-2:amd64
libldap-2.4-2:amd64
libldap-common
liblinear4:amd64
liblist-moreutils-perl
liblist-moreutils-xs-perl
libllvm11:amd64
libllvm7:amd64
liblmdb0:amd64
liblocale-gettext-perl
liblockfile-bin
liblog-dispatch-perl
liblog-log4perl-perl
liblogging-stdlog0:amd64
liblognorm5:amd64
liblqr-1-0:amd64
liblsan0:amd64
libltdl-dev:amd64
libltdl7:amd64
liblua5.1-0:amd64
liblua5.2-0:amd64
liblua5.3-0:amd64
liblua5.3-dev:amd64
liblvm2app2.2:amd64
liblvm2cmd2.02:amd64
liblvm2cmd2.03:amd64
liblwp-mediatypes-perl
liblwp-protocol-https-perl
liblwres141:amd64
liblz4-1:amd64
liblzf1:amd64
liblzma5:amd64
liblzo2-2:amd64
libmagic-mgc
libmagic1:amd64
libmagickcore-6.q16-6:amd64
libmagickwand-6.q16-6:amd64
libmail-authenticationresults-perl
libmail-dkim-perl
libmail-sendmail-perl
libmail-spf-perl
libmailtools-perl
libmailutils7:amd64
libmapcache1
libmariadb3:amd64
libmath-random-isaac-perl
libmath-random-isaac-xs-perl
libmaxminddb0:amd64
libmcrypt4
libmd0:amd64
libmemcached-dev:amd64
libmemcached-tools
libmemcached11:amd64
libmemcachedutil2:amd64
libmilter1.0.1:amd64
libmime-lite-perl
libmime-types-perl
libminizip1:amd64
libmnl-dev:amd64
libmnl0:amd64
libmodule-find-perl
libmodule-implementation-perl
libmodule-runtime-perl
libmodule-scandeps-perl
libmoo-perl
libmount1:amd64
libmpc3:amd64
libmpdec2:amd64
libmpdec3:amd64
libmpfr4:amd64
libmpfr6:amd64
libmpx2:amd64
libmro-compat-perl
libmspack0:amd64
libmtdev1:amd64
libnamespace-autoclean-perl
libnamespace-clean-perl
libncurses-dev:amd64
libncurses5:amd64
libncurses6:amd64
libncursesw5:amd64
libncursesw6:amd64
libnet-cidr-perl
libnet-dbus-perl
libnet-dns-perl
libnet-dns-sec-perl
libnet-http-perl
libnet-ip-perl
libnet-ldap-perl
libnet-libidn-perl
libnet-rblclient-perl
libnet-server-perl
libnet-smtp-ssl-perl
libnet-ssleay-perl
libnet-xwhois-perl
libnetaddr-ip-perl
libnetcdf18:amd64
libnetfilter-conntrack3:amd64
libnetsnmptrapd40:amd64
libnettle6:amd64
libnettle8:amd64
libnewt0.52:amd64
libnfnetlink0:amd64
libnfsidmap2:amd64
libnftables1:amd64
libnftnl11:amd64
libnghttp2-14:amd64
libnl-3-200:amd64
libnl-genl-3-200:amd64
libnm0:amd64
libnode72:amd64
libnorm1:amd64
libnpth0:amd64
libnsl-dev:amd64
libnsl2:amd64
libnspr4:amd64
libnss-ldap:amd64
libnss-nis:amd64
libnss-nisplus:amd64
libnss-systemd:amd64
libnss3:amd64
libntfs-3g883
libntlm0:amd64
libnuma1:amd64
libodbc1:amd64
libogdi4.1
libonig5:amd64
libopenal-data
libopendbx1
libopendbx1-mysql
libopendbx1-sqlite3
libopendkim11:amd64
libopendmarc2:amd64
libopenjp2-7:amd64
libopenni2-0:amd64
libopts25:amd64
libossp-uuid16:amd64
libp11-kit0:amd64
libpackage-stash-perl
libpackage-stash-xs-perl
libpackagekit-glib2-18:amd64
libpadwalker-perl
libpam-cap:amd64
libpam-ldap:amd64
libpam-modules:amd64
libpam-modules-bin
libpam-runtime
libpam-systemd:amd64
libpam0g:amd64
libpango-1.0-0:amd64
libpangocairo-1.0-0:amd64
libpangoft2-1.0-0:amd64
libpangomm-1.4-1v5:amd64
libpangoxft-1.0-0:amd64
libpaper-utils
libpaper1:amd64
libparams-classify-perl
libparams-util-perl
libparams-validate-perl:amd64
libparams-validationcompiler-perl
libparse-syslog-perl
libparted-fs-resize0:amd64
libparted2:amd64
libpcap0.8:amd64
libpci3:amd64
libpciaccess0:amd64
libpcre16-3:amd64
libpcre2-8-0:amd64
libpcre3:amd64
libpcre3-dev:amd64
libpcre32-3:amd64
libpcrecpp0v5:amd64
libpcsclite1:amd64
libperl4-corelibs-perl
libperl5.32:amd64
libpg-perl:amd64
libpgm-5.3-0:amd64
libpipeline1:amd64
libpixman-1-0:amd64
libpng16-16:amd64
libpolkit-agent-1-0:amd64
libpolkit-gobject-1-0:amd64
libpoppler102:amd64
libpopt0:amd64
libpq5:amd64
libproc-processtable-perl
libprocps6:amd64
libprocps8:amd64
libproj19:amd64
libprotobuf-c1:amd64
libproxy1v5:amd64
libpsl5:amd64
libpulse0:amd64
libpython2-stdlib:amd64
libpython2.7-minimal:amd64
libpython2.7-stdlib:amd64
libpython3-dev:amd64
libpython3-stdlib:amd64
libpython3.5:amd64
libpython3.5-dev:amd64
libpython3.5-minimal:amd64
libpython3.5-stdlib:amd64
libpython3.7-minimal:amd64
libpython3.9:amd64
libpython3.9-dev:amd64
libpython3.9-minimal:amd64
libpython3.9-stdlib:amd64
libqdbm14
libqhull8.0:amd64
libqrencode4:amd64
libquadmath0:amd64
librabbitmq4:amd64
libraqm0:amd64
librarian0
librbl1:amd64
libreadline-dev:amd64
libreadline7:amd64
libreadline8:amd64
libreadonly-perl
librecode0:amd64
libref-util-perl
libref-util-xs-perl
libremctl1:amd64
librest-0.7-0:amd64
librhash0:amd64
librole-tiny-perl
librrd8:amd64
librsvg2-2:amd64
librsvg2-common:amd64
librtmp1:amd64
librttopo1:amd64
libruby2.3:amd64
libruby2.5:amd64
libruby2.7:amd64
libsasl2-2:amd64
libsasl2-dev
libsasl2-modules:amd64
libsasl2-modules-db:amd64
libseccomp2:amd64
libselinux1:amd64
libsemanage-common
libsemanage1:amd64
libsensors-config
libsensors4:amd64
libsensors5:amd64
libsepol1:amd64
libserf-1-1:amd64
libsigc++-2.0-0v5:amd64
libsigsegv2:amd64
libslang2:amd64
libsm6:amd64
libsmartcols1:amd64
libsnappy1v5:amd64
libsnmp-base
libsnmp40:amd64
libsocket6-perl
libsodium23:amd64
libsort-naturally-perl
libsoup-gnome2.4-1:amd64
libsoup2.4-1:amd64
libspatialite7:amd64
libspecio-perl
libspf2-2
libsqlite3-0:amd64
libss2:amd64
libssh2-1:amd64
libssl-dev:amd64
libssl-doc
libssl1.0.2:amd64
libssl1.1:amd64
libstdc++-10-dev:amd64
libstdc++-6-dev:amd64
libstdc++6:amd64
libstemmer0d:amd64
libstrictures-perl
libsub-exporter-perl
libsub-exporter-progressive-perl
libsub-identify-perl
libsub-install-perl
libsub-name-perl
libsub-override-perl
libsub-quote-perl
libsuperlu5:amd64
libsvn1:amd64
libswitch-perl
libsybdb5:amd64
libsys-hostname-long-perl
libsystemd0:amd64
libsz2:amd64
libtasn1-6:amd64
libterm-readkey-perl
libterm-spinner-color-perl
libtext-charwidth-perl
libtext-iconv-perl
libtext-wrapi18n-perl
libtfm1:amd64
libthai-data
libthai0:amd64
libtidy5deb1:amd64
libtie-ixhash-perl
libtiff5:amd64
libtimedate-perl
libtinfo-dev:amd64
libtinfo5:amd64
libtinfo6:amd64
libtirpc-common
libtirpc-dev:amd64
libtirpc1:amd64
libtirpc3:amd64
libtokyocabinet9:amd64
libtommath1:amd64
libtool
libtool-bin
libtry-tiny-perl
libtsan0:amd64
libtype-tiny-perl
libtype-tiny-xs-perl
libtypes-serialiser-perl
libuchardet0:amd64
libudev1:amd64
libunistring0:amd64
libunistring2:amd64
liburi-perl
liburing1:amd64
liburiparser1:amd64
libusb-0.1-4:amd64
libusb-1.0-0:amd64
libustr-1.0-1:amd64
libutempter0:amd64
libutf8proc2:amd64
libuuid1:amd64
libwebauth12:amd64
libwebp6:amd64
libwebpdemux2:amd64
libwebpmux3:amd64
libwrap0:amd64
libwww-perl
libwww-robotrules-perl
libxcomposite1:amd64
libxcursor1:amd64
libxdamage1:amd64
libxdmcp6:amd64
libxen-4.8:amd64
libxenstore3.0:amd64
libxentoolcore1:amd64
libxerces-c3.2:amd64
libxext6:amd64
libxfixes3:amd64
libxfont2:amd64
libxft2:amd64
libxi6:amd64
libxinerama1:amd64
libxkbcommon0:amd64
libxkbfile1:amd64
libxml-parser-perl:amd64
libxml-twig-perl
libxml-xpathengine-perl
libxml2:amd64
libxmlrpc-epi0:amd64
libxmu6:amd64
libxmuu1:amd64
libxpm4:amd64
libxrandr2:amd64
libxrender1:amd64
libxshmfence1:amd64
libxslt1.1:amd64
libxss1:amd64
libxstring-perl
libxt6:amd64
libxtables12:amd64
libxtst6:amd64
libxv1:amd64
libxvmc1:amd64
libxxf86dga1:amd64
libxxf86vm1:amd64
libxxhash0:amd64
libyajl2:amd64
libyaml-0-2:amd64
libz3-4:amd64
libzip4:amd64
libzmq5:amd64
libzstd1:amd64
lm-sensors
locales
login
logrotate
logsave
lsb-base
lsb-release
lsof
lsyncd
lua-bitop:amd64
lua-cjson:amd64
lua-event:amd64
lua-filesystem:amd64
lua-lpeg:amd64
lua5.3
lynx
lynx-common
lzop
m4
mailcap
mailman
mailutils
mailutils-common
make
man-db
manpages
manpages-dev
mariadb-client-10.5
mariadb-client-core-10.5
mariadb-common
mariadb-server
mariadb-server-10.5
mariadb-server-core-10.5
mime-support
mlock
mount
mtr
multiarch-support
mutt
mysql-client
mysql-common
nano
ncal
ncurses-base
ncurses-bin
ncurses-term
ndiff
nftables
nscd
ntp
ntpdate
nut-client
nut-server
odbcinst
odbcinst1debian2:amd64
openbsd-inetd
openjdk-8-jre-headless:amd64
openssh-client
openssh-server
openssh-sftp-server
openssl
p7zip
packagekit
packagekit-tools
passwd
pastebinit
patch
pbzip2
pci.ids
pciutils
perl
perl-base
perl-modules-5.32
perl-openssl-defaults:amd64
php-apcu-bc
php-ast
php-bcmath
php-bz2
php-common
php-curl
php-doctrine-lexer
php-email-validator
php-fpm
php-gd
php-geoip
php-igbinary
php-imagick
php-intl
php-ldap
php-libvirt-php
php-mbstring
php-mongo
php-msgpack
php-mysql
php-pear
php-pspell
php-uuid
php-xml
php-zip
php5.6
php5.6-amqp
php5.6-apcu
php5.6-apcu-dbgsym
php5.6-bcmath
php5.6-bz2
php5.6-cgi
php5.6-cli
php5.6-common
php5.6-curl
php5.6-dba
php5.6-dev
php5.6-enchant
php5.6-fpm
php5.6-gd
php5.6-geoip
php5.6-gmp
php5.6-igbinary
php5.6-imagick
php5.6-imap
php5.6-interbase
php5.6-intl
php5.6-json
php5.6-ldap
php5.6-mbstring
php5.6-mcrypt
php5.6-memcache
php5.6-memcached
php5.6-mongo
php5.6-msgpack
php5.6-mysql
php5.6-odbc
php5.6-opcache
php5.6-pgsql
php5.6-phpdbg
php5.6-pspell
php5.6-raphf
php5.6-readline
php5.6-recode
php5.6-redis
php5.6-rrd
php5.6-snmp
php5.6-soap
php5.6-solr
php5.6-sqlite3
php5.6-ssh2
php5.6-sybase
php5.6-tidy
php5.6-uploadprogress
php5.6-xdebug
php5.6-xml
php5.6-xmlrpc
php5.6-xsl
php5.6-zip
php7.0
php7.0-amqp
php7.0-apcu
php7.0-apcu-bc
php7.0-apcu-bc-dbgsym
php7.0-apcu-dbgsym
php7.0-ast
php7.0-bcmath
php7.0-bz2
php7.0-cgi
php7.0-cli
php7.0-common
php7.0-curl
php7.0-dba
php7.0-dev
php7.0-enchant
php7.0-fpm
php7.0-gd
php7.0-geoip
php7.0-gmp
php7.0-igbinary
php7.0-imagick
php7.0-imap
php7.0-interbase
php7.0-intl
php7.0-json
php7.0-ldap
php7.0-libvirt-php
php7.0-lz4
php7.0-mbstring
php7.0-mcrypt
php7.0-memcache
php7.0-memcached
php7.0-mongodb
php7.0-msgpack
php7.0-mysql
php7.0-odbc
php7.0-opcache
php7.0-pgsql
php7.0-phpdbg
php7.0-pspell
php7.0-raphf
php7.0-readline
php7.0-recode
php7.0-redis
php7.0-rrd
php7.0-snmp
php7.0-soap
php7.0-solr
php7.0-sqlite3
php7.0-ssh2
php7.0-tidy
php7.0-uploadprogress
php7.0-uuid
php7.0-xdebug
php7.0-xml
php7.0-xmlrpc
php7.0-xsl
php7.0-zip
php7.1
php7.1-amqp
php7.1-apcu
php7.1-apcu-bc
php7.1-apcu-bc-dbgsym
php7.1-apcu-dbgsym
php7.1-ast
php7.1-bcmath
php7.1-bz2
php7.1-cgi
php7.1-cli
php7.1-common
php7.1-curl
php7.1-dba
php7.1-decimal
php7.1-dev
php7.1-fpm
php7.1-gd
php7.1-geoip
php7.1-gmp
php7.1-grpc
php7.1-igbinary
php7.1-imagick
php7.1-intl
php7.1-json
php7.1-libvirt-php
php7.1-lz4
php7.1-mbstring
php7.1-mcrypt
php7.1-memcache
php7.1-memcached
php7.1-mongodb
php7.1-msgpack
php7.1-mysql
php7.1-odbc
php7.1-opcache
php7.1-pspell
php7.1-raphf
php7.1-readline
php7.1-recode
php7.1-redis
php7.1-rrd
php7.1-solr
php7.1-sqlite3
php7.1-ssh2
php7.1-tidy
php7.1-uploadprogress
php7.1-uuid
php7.1-xdebug
php7.1-xml
php7.1-xmlrpc
php7.1-zip
php7.2
php7.2-amqp
php7.2-apcu
php7.2-apcu-bc
php7.2-apcu-bc-dbgsym
php7.2-apcu-dbgsym
php7.2-ast
php7.2-bcmath
php7.2-bz2
php7.2-cgi
php7.2-cli
php7.2-common
php7.2-curl
php7.2-dba
php7.2-decimal
php7.2-dev
php7.2-ds
php7.2-enchant
php7.2-fpm
php7.2-gd
php7.2-geoip
php7.2-gmp
php7.2-igbinary
php7.2-imagick
php7.2-imap
php7.2-inotify
php7.2-interbase
php7.2-intl
php7.2-json
php7.2-ldap
php7.2-libvirt-php
php7.2-lz4
php7.2-mbstring
php7.2-mcrypt
php7.2-memcache
php7.2-memcached
php7.2-mongodb
php7.2-msgpack
php7.2-mysql
php7.2-oauth
php7.2-odbc
php7.2-opcache
php7.2-pgsql
php7.2-phpdbg
php7.2-protobuf
php7.2-pspell
php7.2-raphf
php7.2-readline
php7.2-recode
php7.2-redis
php7.2-rrd
php7.2-snmp
php7.2-soap
php7.2-solr
php7.2-sqlite3
php7.2-ssh2
php7.2-sybase
php7.2-tidy
php7.2-uploadprogress
php7.2-uuid
php7.2-xdebug
php7.2-xml
php7.2-xmlrpc
php7.2-xsl
php7.2-yaml
php7.2-zip
php7.3-amqp
php7.3-apcu
php7.3-apcu-bc
php7.3-apcu-bc-dbgsym
php7.3-apcu-dbgsym
php7.3-ast
php7.3-bcmath
php7.3-bz2
php7.3-cgi
php7.3-cli
php7.3-common
php7.3-curl
php7.3-dba
php7.3-decimal
php7.3-ds
php7.3-fpm
php7.3-gd
php7.3-gearman
php7.3-geoip
php7.3-gmp
php7.3-gnupg
php7.3-igbinary
php7.3-imagick
php7.3-inotify
php7.3-intl
php7.3-json
php7.3-ldap
php7.3-libvirt-php
php7.3-lz4
php7.3-mbstring
php7.3-mcrypt
php7.3-memcache
php7.3-memcached
php7.3-mongodb
php7.3-msgpack
php7.3-mysql
php7.3-oauth
php7.3-opcache
php7.3-pgsql
php7.3-propro
php7.3-protobuf
php7.3-pspell
php7.3-radius
php7.3-raphf
php7.3-readline
php7.3-recode
php7.3-redis
php7.3-rrd
php7.3-solr
php7.3-sqlite3
php7.3-ssh2
php7.3-tidy
php7.3-uploadprogress
php7.3-uuid
php7.3-xdebug
php7.3-xml
php7.3-xmlrpc
php7.3-xsl
php7.3-yaml
php7.3-zip
php7.4
php7.4-amqp
php7.4-apcu
php7.4-apcu-bc
php7.4-ast
php7.4-bcmath
php7.4-bz2
php7.4-cgi
php7.4-cli
php7.4-common
php7.4-curl
php7.4-dba
php7.4-decimal
php7.4-ds
php7.4-enchant
php7.4-fpm
php7.4-gd
php7.4-geoip
php7.4-gmp
php7.4-gnupg
php7.4-grpc
php7.4-igbinary
php7.4-imagick
php7.4-inotify
php7.4-interbase
php7.4-intl
php7.4-json
php7.4-ldap
php7.4-libvirt-php
php7.4-lz4
php7.4-mbstring
php7.4-mcrypt
php7.4-memcache
php7.4-memcached
php7.4-mongodb
php7.4-msgpack
php7.4-mysql
php7.4-oauth
php7.4-opcache
php7.4-propro
php7.4-protobuf
php7.4-pspell
php7.4-raphf
php7.4-readline
php7.4-redis
php7.4-rrd
php7.4-solr
php7.4-sqlite3
php7.4-ssh2
php7.4-uploadprogress
php7.4-uuid
php7.4-xdebug
php7.4-xml
php7.4-yaml
php7.4-zip
php8.0
php8.0-amqp
php8.0-apcu
php8.0-apcu-dbgsym
php8.0-ast
php8.0-bcmath
php8.0-bz2
php8.0-cgi
php8.0-cli
php8.0-common
php8.0-curl
php8.0-dba
php8.0-decimal
php8.0-enchant
php8.0-fpm
php8.0-gd
php8.0-gmp
php8.0-gnupg
php8.0-grpc
php8.0-igbinary
php8.0-imagick
php8.0-inotify
php8.0-intl
php8.0-ldap
php8.0-lz4
php8.0-mbstring
php8.0-mcrypt
php8.0-memcache
php8.0-memcached
php8.0-mongodb
php8.0-msgpack
php8.0-mysql
php8.0-oauth
php8.0-odbc
php8.0-opcache
php8.0-pgsql
php8.0-protobuf
php8.0-pspell
php8.0-raphf
php8.0-readline
php8.0-redis
php8.0-rrd
php8.0-solr
php8.0-sqlite3
php8.0-ssh2
php8.0-uuid
php8.0-xdebug
php8.0-xml
php8.0-xmlrpc
php8.0-yaml
php8.0-zip
php8.1-amqp
php8.1-apcu
php8.1-ast
php8.1-bcmath
php8.1-bz2
php8.1-cli
php8.1-common
php8.1-curl
php8.1-fpm
php8.1-gd
php8.1-igbinary
php8.1-imagick
php8.1-intl
php8.1-ldap
php8.1-libvirt-php
php8.1-mbstring
php8.1-mcrypt
php8.1-memcache
php8.1-memcached
php8.1-msgpack
php8.1-mysql
php8.1-opcache
php8.1-phpdbg
php8.1-pspell
php8.1-raphf
php8.1-readline
php8.1-redis
php8.1-rrd
php8.1-ssh2
php8.1-uuid
php8.1-xdebug
php8.1-xml
php8.1-zip
php8.2
php8.2-amqp
php8.2-apcu
php8.2-ast
php8.2-bcmath
php8.2-bz2
php8.2-cgi
php8.2-cli
php8.2-common
php8.2-curl
php8.2-fpm
php8.2-gd
php8.2-grpc
php8.2-http
php8.2-igbinary
php8.2-imagick
php8.2-imap
php8.2-inotify
php8.2-intl
php8.2-ldap
php8.2-libvirt-php
php8.2-lz4
php8.2-mbstring
php8.2-mcrypt
php8.2-memcache
php8.2-memcached
php8.2-msgpack
php8.2-mysql
php8.2-opcache
php8.2-pgsql
php8.2-phpdbg
php8.2-pspell
php8.2-raphf
php8.2-readline
php8.2-redis
php8.2-rrd
php8.2-snmp
php8.2-ssh2
php8.2-uploadprogress
php8.2-uuid
php8.2-xdebug
php8.2-xml
php8.2-zip
php8.2-zstd
php8.3-ast
php8.3-bcmath
php8.3-bz2
php8.3-cli
php8.3-common
php8.3-curl
php8.3-fpm
php8.3-gd
php8.3-igbinary
php8.3-imagick
php8.3-intl
php8.3-ldap
php8.3-mbstring
php8.3-memcache
php8.3-msgpack
php8.3-mysql
php8.3-opcache
php8.3-phpdbg
php8.3-pspell
php8.3-readline
php8.3-uuid
php8.3-xml
php8.3-zip
pigz
pinentry-curses
pkg-config
pkg-php-tools
po-debconf
policykit-1
poppler-data
postfix
postfix-ldap
postfix-pcre
postfix-sqlite
postgresql
postgresql-13
postgresql-client
postgresql-client-13
postgresql-client-common
postgresql-common
preload
procmail
procmail-wrapper
psmisc
publicsuffix
pwgen
python
python-apt-common
python-is-python2
python-pip-whl
python2
python2-minimal
python2.7
python2.7-minimal
python3
python3-acme
python3-appdirs
python3-apt
python3-augeas
python3-bs4
python3-certbot
python3-certifi
python3-cffi-backend:amd64
python3-chardet
python3-configargparse
python3-configobj
python3-cryptography
python3-dbus
python3-debconf
python3-debian
python3-debianbts
python3-decorator
python3-dev
python3-distlib
python3-distro
python3-distro-info
python3-distutils
python3-filelock
python3-firewall
python3-gi
python3-html5lib
python3-httplib2
python3-icu
python3-idna
python3-importlib-metadata
python3-josepy
python3-jsonschema
python3-lib2to3
python3-lxml:amd64
python3-minimal
python3-more-itertools
python3-msgpack
python3-newt:amd64
python3-nftables
python3-openssl
python3-parsedatetime
python3-pbr
python3-pip
python3-pkg-resources
python3-ply
python3-pyasn1
python3-pycurl
python3-pyinotify
python3-pysimplesoap
python3-reportbug
python3-requests
python3-requests-toolbelt
python3-rfc3339
python3-selinux
python3-setuptools
python3-six
python3-slip
python3-slip-dbus
python3-software-properties
python3-soupsieve
python3-systemd
python3-tz
python3-urllib3
python3-virtualenv
python3-webencodings
python3-wheel
python3-zipp
python3-zope.component
python3-zope.event
python3-zope.hookable
python3-zope.interface
python3.5
python3.5-dev
python3.5-minimal
python3.7-minimal
python3.9
python3.9-dev
python3.9-minimal
qemu-guest-agent
qrencode
quota
rake
rarian-compat
re2c
readline-common
rename
rhash
ri
rpcbind
rsync
rsyslog
runit-helper
sa-compile
sasl2-bin
screen
sed
shared-mime-info
sharutils
shtool
slapd
snmp
snmpd
snmptrapd
socat
software-properties-common
speedtest-cli
sshfs
ssl-cert
strace
stunnel4
sudo
synaptic
sysstat
tar
task-english
task-ssh-server
tasksel
tasksel-data
tcpd
telnet
tmux
traceroute
tzdata
unattended-upgrades
unzip
uuid
vim
vim-common
vim-runtime
vim-tiny
wget
whiptail
whois
xml-core
xml2
xxd
xz-utils
zip
zsh
zsh-common
